  :root {
    --negro: #d1f7ff;
    --blanco: #01012b;
    --morado-oscuro:#fee801; 
    --amarillo: #91063E;
    --icono-color:black;
    --a-hover:#D2FFAA;
    --estrella-color:hsla(240, 96%, 9%, 0.393);
    --linea-color:hsla(240, 96%, 9%, 0.393);
  }
  html{
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--negro);
    color: var(--blanco);
    font-family: "Exo", sans-serif;
    font-optical-sizing: auto;
  }
  
  /* Modo oscuro que es el original */
  body.dark-mode {
  --negro: #01012b;
  --blanco: #d1f7ff;
  --morado-oscuro:#cb0c59; 
  --amarillo: #fee801;
  --icono-color:white;
  --a-hover:#2F3EAB;
  --estrella-color:hsla(190, 100%, 91%, 0.63);
  --linea-color:hsla(190, 100%, 91%, 0.63);
}

  a {
    color: var(--blanco);
    text-decoration: none;
  }
  h2{
    padding-left: 2rem;
  }
  
  .navbar {
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--morado-oscuro);
    position: sticky;
    top: 0; /* para que sticky funcione */
    margin: 0; /* en lugar de fit-content */
    z-index: 1000;
  }

  .nav-block-left, .nav-block-right {
    flex: 1; /* Ambos bloques intentan ocupar el mismo espacio */
    display: flex;
    align-items: center;
  }
  
  .nav-block-right {
    justify-content: flex-end; /* Empuja los botones al extremo derecho */
  }


.navbar-collapse {
    align-items: center;
}

.navbar .nav-link {
  font-weight: bold;
}

.navbar a {
    color: var(--blanco);
}
.navbar a:hover{
    color: var(--amarillo);
    background-color: var(--a-hover);
    border-radius: 10px;
}
  
/* Botón minimalista */
.btn-toggle-theme {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.6rem;
  color: var(--blanco);
  transition: transform 0.3s ease, color 0.3s ease;
}

/* Hover con efecto */
.btn-toggle-theme:hover {
  color: var(--amarillo);
  transform: scale(1.2);
}

.btn-toggle-theme.rotate {
  animation: rotate 0.5s ease;
}
@keyframes rotate {
  from { transform: rotateY(0deg); }
  to   { transform: rotateY(360deg); }
}


.hero-section {
  position: relative;
  overflow: hidden;
}

#grafo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; /* detrás */
}

.perfil {
  position: relative;
  z-index: 2; /* encima */
}

.correo {
    background-color: var(--negro);
    color: var(--blanco);
    border: none;
    text-decoration: none;
    cursor: pointer;
    padding: 0.5rem 0.5rem;
    border-radius: 5px;

}
  .correo:hover {
    transform: scale(1.1);
  }
  
.resaltar{
  color: var(--amarillo);
}
.sobre-mi {
  padding: 2rem;
  font-size: larger;

}

  .tarjeta {
    background-color: var(--morado-oscuro);
    color: var(--blanco);
    border-radius: 10px;
    padding: 2rem;
  }

  .btn-tarjeta {
    background-color: var(--negro);
    color: var(--blanco);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;

  }
  .btn-tarjeta:hover {
    background-color: var(--blanco);
    color: var(--negro);
  }
  .seccion-color {
    color: var(--blanco);
    padding: 2rem;
    border-radius: 10px;
  }

  footer {
    color: var(--blanco);
    bottom: 0;
    width: 100%;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 300px;
  }

  .iconos-redes i {
    color: var(--icono-color);
    font-size: 2rem;
    margin: 0 10px;
    transition: all 0.2s ease-in;
  }

  .iconos-redes a:hover {
    transform: scale(1.1);
  }

  /*Diseño responsivo*/
/* En PC: El menú se queda en medio */
@media (min-width: 768px) {
  .navbar-collapse {
    flex: 2; /* Le damos más prioridad al centro */
  }
}

/* En Móvil: Evitamos que el colapso rompa la línea superior */
@media (max-width: 767px) {
  .navbar .container-fluid {
    flex-wrap: wrap; /* Permite que el menú baje a la fila 2 */
  }

  .navbar-collapse {
    flex-basis: 100%; /* El menú abierto ocupa toda la fila de abajo */
    order: 3; /* Se asegura de ir debajo de logo e iconos */
    text-align: center;
    background-color: var(--morado-oscuro);
    margin-top: 10px;
    padding: 1rem;
    border-radius: 10px;
  }

/* Ajuste para que el logo no se estire demasiado en móvil */
  .nav-block-left {
    flex: 1;
  }
}